{% extends 'base.html.twig' %}

{% block title %} Contacter l'utilisateur {{ to_user.email }} {% endblock %}

{% block body %}
    {% if is_grated('ROLE_ADMIN') %}
        <p>Inforations complètes de cet utilisateur: </p>
        {{ to_user.id }}
    {% endif %}
{% endblock %}